button{
    margin: 5px;
}
.hide{
  display: none;
}
.authen{
    margin-top: 50px;
    input{
        color: white;
        background: black;
        border: 2px solid #00aa7b;
        margin: 20px;
        padding: 10px;
        width: 340px;
    }
    #google{
        width: 340px;
    }
    .col{
        display: flex;
        justify-content: center;
    }
    .alert.alert-secondary.fade.show{
        background: transparent;
        border: none;
    }

}
