.api-logo{
    border-top: 1px solid #00aa7b;
    color: white;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    .logo{
        margin: 10px;
        max-width: 100px;
        height: auto;
    }
}
