.navbar{
    //background: lightgray;
    margin-bottom: 1em;
    #logout{
        border: none;
        border-radius: 0;
    }
    .logo{
        max-width: 100px;
    }
    .user{
        color: white
    }
}
@media screen and (min-width: 500px){
    .logo{
        max-width: 150px;
    }
}
