.search{
    label{
        width: 100%;
        input{
            width: 100%;
            color: white;
            background: transparent;
            font-size: 1em;
            border: 2px solid #00AA7B;
            padding: 5px 15px;
        }
    }
}
.modal-content{
    background: black;
    color: #00AA7B;
    .close{
        color: white;
    }
    .card{
        border: none;
    }
    ul{
        padding-left: 0;
    }
    h4.modal-title{
        font-weight: bold;
        color: white;
        font-size: 2.5em;
    }
    .card-body{
        border: none;
        background: black;
        h4{
            font-weight: bold;
            color: white;
            font-size: 1.5em;
        }
        hr{
            height: 2px;
            background: #00aa7b;
        }
        input{

        }
        .card-body{
            // border-bottom: 2px solid #00aa7b;
        }
        html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #243b58;
}

.check {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  input {
    display: none;
    &:checked + .box {
      background-color: #b3ffb7;

      &:after {
        top: 0;
      }
    }
  }

  .box {
    width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(.19,1,.22,1);
    border: 2px solid transparent;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
      box-shadow: 0 5px rgba(0,0,0,.2);
    &:after {
      width: 50%;
      height: 20%;
      content: '';
      position: absolute;
      border-left: 7.5px solid;
      border-bottom: 7.5px solid;
      border-color: #40c540;
      transform: rotate(-45deg) translate3d(0,0,0);
      transform-origin: center center;
      transition: all 1.1s cubic-bezier(.19,1,.22,1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto;
    }
  }
}
    }
}
@media screen and (min-width: 500px){
    .search{
        label{
            width: 100%;
            input{
                width: 100%;
                color: white;
                background: transparent;
                font-size: 2em;
                border: 2px solid #00AA7B;
                padding: 5px 15px;
            }
        }
    }
}
