.upcoming{
    li{
        position: relative;
        margin-right: 75px;
        &:before{
            content: '';
            position: absolute;
            right: -30px;
            width: 9px;
            height: 100%;
            background: #00aa7b;
            transform: skewX(-26deg);
        }
        padding: 10px;
        h4{
            color: white;
            // font-weight: bold;
        }
        p{
            color: #00aa7b;
            &:first-of-type{
                font-weight: bold;
            }
        }

    }
    li:last-of-type{
        &:before{
            display: none;
        }
    }

}
@media screen and (max-width: 768px){
    .upcoming{
        li{
            min-width: 200px;
        }
    }
}
